A { padding: 0px 3px 0px 3px;}
A:link { text-decoration: none; color:#AA0000;}
A:visited { text-decoration: none; color:#990000;}
A:active { text-decoration: none; color: red}
A:hover { text-decoration: underline; color:#FF0000;}
H1 {font-family: courier new; font-size: 25px; letter-spacing: 3px; color: #000000; text-align: center}
H2 {font-family: courier new; font-size: 18px; color: #000000; text-align: center; letter-spacing: 2px}
H4 {font-family: courier new; font-size: 14px; color: #000000; text-align: center}
H5 {font-family: courier new; font-size: 12px; color: #000000; text-align: center; letter-spacing: 2px}
H6 {font-family: courier new; font-size: 11px; color: #000000}
TABLE {font-family: courier new,courier; text-align: left; font-size: 12px; color: #000000;}
BODY { background-color: #F4F4F4; margin-left: 0px; margin-top: 0px; SCROLLBAR-BASE-COLOR: #303030; SCROLLBAR-ARROW-COLOR: #FFFFFF;}

input,select,textarea {font-size: 12px; border: 1px solid black; background-color: #999999; color: #111111; font-family: courier new}
.mainshit {font-family: courier new,courier; text-align: justify; font-size: 14px; color: #000000; padding-right: 20px; padding-left: 20px;}
BLOCKQUOTE {margin-left: 40px; margin-right: 40px}
.indexpage {font-family: verdana; font-size: 10px; color: #000000;  text-align: justify}
.LoginForm {font-family: verdana; font-size: 10px;}
.contents {font-family: verdana; text-align: center; font-size: 10px; color: #000000; padding-right: 8px; padding-left: 10px;}
.forumlist {font-family: verdana; font-size: 10px; color: #000000; border: 1px solid #353535;}
.tinytext {font-family: verdana; text-align: center; font-size: 8px; color: #202020}
.poll {font-family: verdana; font-size: 10px; color: #000000; text-align: left; background-color: #FFFFFF; border: 1px solid gray}
.amazon {font-family: verdana; font-size: 10px; color: #000000; text-align: center; background-color: #FFFFFF; border: 1px solid gray; padding-right: 5px; padding-left: 5px; padding-top: 5px; padding-bottom: 5px;}
.commentsBlock {font-size: 12px; border: 1px solid #353535; background-color: #FFFFFF; color: #000000; font-family: courier new}
.indexPortal {font-size: 11px; border: 1px solid #353535; background-color: #FFFFFF; color: #000000; font-family: verdana; padding-right: 5px; padding-left: 5px; text-align: justify}
em {
  text-emphasis: triangle;
  font-style: normal;
}

.emphasis-1 {
  text-emphasis: filled double-circle deeppink;
}

.emphasis-2 {
  text-emphasis: open triangle rebeccapurple;
  text-emphasis-position: under;
}

.emphasis-3 {
  text-emphasis: filled sesame blue;
}

.emphasis-4 {
  text-emphasis: '$' lime;
}

.emphasis-5 {
  text-emphasis: '💩';
}
